@import '../../assets/styles/_mixins.scss';


.join-page {
  display: flex;
  justify-content: center;
  align-items: center;
  place-content: center;
  margin: auto;
  text-align: center;
  background-color: white;
  height: 90vh;
  .video-div {
    video {
      width: 50%;
      height: 40%;
    }
  }
  input {
    margin-top: 5%;
    padding: 0.5rem;
    border: 2px solid rgb(209, 209, 209);
    outline: none;
    border-radius: 10px;
    width: 70%;
    font-size: 18px;
    transition-duration: 0.4s;
    &:focus {
      border-color: rgb(44, 189, 199);
    }
    z-index: 100;
  }
  .join-btns-div {
    width: 40%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    padding: 1rem 0.5rem;
    .btn {
      margin: auto;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      font-size: 17px;
      border: 2px solid #0d4b85;
      background-color: #0d4b85;
      color: white;
      transition-duration: 0.4s;
      &:hover {
        background-color: rgba(13, 75, 133, 0.8);
        color: white;
      }
    }
    @include mobile {
      width: 100%;
    }
  }
  @include mobile {
    // margin-top: 20%;
    .video-div {
      video {
        width: 70%;
        height: 50%;
      }
    }
  }
}
